.realitem img {
    width: 250px;
}

#restaurants {
    display: flex;
    flex-wrap: wrap;
}

#restaurants h2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#restaurants img {
    width: 250px;
}

body {
    background-image: url("snazzy-image.png");
    background-color: #cccccc;
}